# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
.env.*
*/.env
*/.env.*

# Database
*.db
*.sqlite
*/*.db

# Logs
logs
*.log
npm-debug.log*

# Strapi
.strapi
*/public/uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
